@import "tailwindcss"; 

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    /* 暖黄色调色板 */
    --background: 48 100% 80%; /* 极浅的暖黄 #fefce8 */
    --foreground: 20 14.3% 4.1%;
    
    /* 卡片颜色：稍微深一点的奶油色，或者纯白带暖色阴影 */
    --card: 48 50% 98%; /* #fffdf5 */
    --card-foreground: 20 14.3% 4.1%;
    
    --border: 48 20% 88%; /* 浅黄褐色边框 */
    --input: 48 20% 88%;
    --primary: 38 92% 50%; /* 橙黄色按钮 */
    --primary-foreground: 60 9.1% 97.8%;
    
    --radius: 0.75rem;
  }
}

body {
  @apply bg-[#fdfbf6] text-zinc-800; /* 全局背景设为米暖色 */
}